body {
  background-color: rgb(39, 1, 74);
  color:white;
  text-align: center;
}

.project-card {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height:200px;
  border: 2px solid white;
  border-radius: 15px;
  margin: 5%;
}
